footer {
  background-color: #111111;
  color: #ffffff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer a:any-link {
  color: #ffffff;
  text-decoration: none;
}

footer a:any-link:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
